
@model IEnumerable<Repository_Logic.Dto.TaskView_Dto>
<div class="row ml-2 ml-md-auto justify-content-md-end ">
    <a class="back-button" asp-area=""  asp-controller="ExcelSheetUpload" asp-action="GetExportExcelsheetData">




        <span><i class="fa-solid fa-user"></i>View File </span>
    </a>

</div>
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="font-size:20px">Task</h6>
    </div>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table" id="ViewTaskListDataTable"   width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Remark Given By
                        </th>
                        <th>
                            Remark Given To
                        </th>
                        <th>
                            Remark Given For
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FileName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th>Date </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CAName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem=>item.AllocatedByName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem=>item.Created_date)

                            </td>
                            <td>
                                @*  @Html.ActionLink("View File Data", "GetExportExcelSheetRecords","ExportData", new {  UniqueFileId=item.uniqueFileId }) *@
                            </td>
                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {

            if ($.fn.DataTable.isDataTable('#ViewTaskListDataTable')) {
                $('#ViewTaskListDataTable').DataTable().destroy();
            }

            $('#ViewTaskListDataTable').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "ajax": {
                        "url": "/Task/TaskListDataTable",
                        "type": "POST",
                        "datatype": "json"

                    },
                    "columns": [
                        { "data": "caName", "name": "CAName" },
                        { "data": "allocatedByName", "name": "AllocatedByName" },
                        { "data": "userName", "name": "UserName" },
                        { "data": "fileName", "name": "FileName" },
                        { "data": "remark", "name": "Remark" },
                        { "data": "status", "name": "status" },
                        { "data": "created_date", "name": "Created_date" },
                        {
                            "data": "fileID",
                            "name": "fileID",
                            orderable: false,
                            "render": function (data, type, row) {

                                console.log(row);
                                var queryString = $.param(row);
                                var queryString = $.param({ // Create an object with your parameters
                                    ...row, // Existing parameters from 'row'
                                    IsItTaskListView: true // Add your extra parameter and its value
                                });

                                var url = "/ExcelSheetUpload/GetExportExcelSheetRecords?" + queryString;
                                var buttons = '<a href="' + url + '" class="btn btn-success" tooltip="View File Records" flow="up"><i class="fa-solid fa-eye"></i></a>';
                                if (row.status == "Changes Done") {

                                    buttons += '<a href="/ExcelSheetUpload/EditExcelSheetRecordView/' + data + '" class="btn btn-info" tooltip="Edit File Records" flow="up"> <i class="fa-solid fa-pen"></i> </a>';
                                    buttons += '<button  class="btn btn-info" disabled tooltip="Changes done" flow="up"> <i class="fa-solid fa-check"></i> </button> '

                                }
                                else {

                                    buttons += '<a href="/ExcelSheetUpload/EditExcelSheetRecordView/' + data + '" class="btn btn-info" tooltip="Edit File Records" flow="up"> <i class="fa-solid fa-pen"></i> </a>';
                                    buttons += '<a href="/Task/UpdateTheStatusField/' + row.id + '" class="btn btn-info" tooltip="Changes Pending" flow="up"  > <i class="fa-solid fa-check"></i> </a>';

                                }
                                return buttons;

                               // return '<a href="' + url + '" class="btn btn-success"><i class="fa-solid fa-eye"></i></a>' + '<a href="/Task/UpdateTheStatusField/' + row.id + '" class="btn btn-info" > <i class="fa-solid fa-check"></i> </a>' + '<a href="/ExcelSheetUpload/EditExcelSheetRecordView/' + data + '" class="btn btn-info"> <i class="fa-solid fa-pen"></i> </a>';
                            }

                        }
                    ]
                }
            );

        });

    </script>

}