
@using System.Security.Claims;
<style>
    .custom-file-upload {
        cursor: pointer;
        padding: 10px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: forestgreen;
        display: inline-block;
    }

        .custom-file-upload:hover {
            background-color: blue;
        }
</style>

@* <div class="container" style="margin-top:60px; background-color: transparent;">
    <div class="card o-hidden border-0 shadow-lg my-7">
        <div class="card-body p-0" style="height:700px;width:100px;"> *@
<div style="margin-left: 90%;">
<a class="collapse-item btn btn-primary" asp-controller="ExcelSheetUpload" asp-action="GetExportExcelsheetData">View Files </a>
</div>
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="font-size:20px">Export Excel Sheet</h6>
    </div>
    <div class="card-body">        
                <div class="nav-item" style="align-items:center; margin-top:5px">
            <lable style="margin-left:0px;"><b>Select User :</b><span style="color:red">*</span></lable>
            <br />
            
                    <select id="userId" name="userId" class="nav-link collapsed" data-toggle="collapse"  data-target="#collapseTwo1"
                    aria-expanded="true" aria-controls="collapseTwo" onchange="PassUserName()" width="10px" data-placeholder="-- Select User --" style="border-radius:15px;width:700px;margin-left:14px">
                        <option>Select User  </option>
                        @foreach (var user in ViewBag.UserList)
                        {
                            <option class="collapse-item" value="@user.Value" data-userid="@user.Value" id="UserIdr">@user.Text</option>
                        }
                    </select>
                    <div id="UserData" style="margin-left:0px;margin-top:30px;"> </div>
                </div>
            

               
                <form method="post" asp-controller="ExcelSheetUpload" asp-action="Export" enctype="multipart/form-data">
                    <input type="hidden" name="SelectedUserID" id="SelectedUserID" />
                        

            <lable style="margin-left:0px;"><b> Select Gst Type :</b><span style="color:red">*</span></lable>
                    <div class="col-sm-3 mb-3 mb-sm-0" >
                        <p>@ViewBag.LoginUserId</p>
                <select id="GSTType" name="GSTType" class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo" style="border-radius:15px;width:700px">
                            <option>TYPE 1</option>
                            <option>TYPE 2</option>
                            <option>TYPE 3</option>
                            <option>TYPE 4</option>
                        </select>
                    </div>

                    <br />
                   
                    <div style="margin-left:0px">
                        <label for="fileInput" class="custom-file-upload" style="color:white;-webkit-text-stroke-color:black">
                            <i class="fas fa-cloud-upload-alt"></i> Upload Excel file
                        </label>
                        <input type="file" name="file" id="fileInput"  style="display:none;" accept=".xlsx,.xls" />
                        <div id="fileNameDisplay" style="color:forestgreen;font-size:revert;margin-left:36px"><p style="color:red"> No File Selected</p> </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary btn-block" style="margin-left:0px" id="submitButton" disabled>Export</button>
                    <br />
                </form>
            
           
        </div>
    </div>
@* </div>
 *@
@if (TempData["Status"] != null)
{
    <script>
        Swal.fire({
            title: 'Fail To ExportData !',
            text: '@TempData["Status"]',
            icon: 'error'
        });
    </script>
}

@section Scripts
    {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

        function PassUserName() {
            // console.log("Hit")

            // var s = document.getElementById('UserIdr').Val;
            // console.log(s)

            var selectedOption = $("#userId option:selected");
            var selectedText;
            var selectedUserId;
            // Check if the selected option is not the "Select User" option
            if (selectedOption.val() !== "") {
                // Get the selected text
                selectedText = selectedOption.text();
                // Get the associated UserID from the data attribute
                selectedUserId = selectedOption.data("userid");
                // Log the selected text and UserID (you can use it as needed)
                console.log("Selected Text: " + selectedText);
                console.log("Selected UserID: " + selectedUserId);
                enableButton();
                // You can also pass the selectedText and selectedUserId to another function or make an AJAX call here
            }
            $.ajax({
                url: "/ExcelSheetUpload/GetUserDetails",
                type: "GET",
                data: { ID: selectedUserId },
                success: function (response) {
                    console.log(response);
                    $('#UserData').html(response);
                    $('#SelectedUserID').val(selectedUserId);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        function enableButton() {
            console.log("enable Button function call");
            var fileInput = document.getElementById("fileInput");
            var submitButton = document.getElementById("submitButton");
            var userId = document.getElementById("userId");
            var fileNameDisplay = document.getElementById("fileNameDisplay");
            console.log(userId.value);

            var GSTType = document.getElementById("GSTType");
            console.log(GSTType.value);
            console.log(fileInput.value && userId.value != "Select User");
            if (fileInput.value && userId.value != "Select User" && fileNameDisplay.value != "Please select a valid Excel file (xlsx).") {
                // A file has been selected, so enable the button
                submitButton.disabled = false;
            } else {
                // No file selected, so disable the button
                submitButton.disabled = true;
            }
        }

        // function displayFileName(input) {

        //     const fileNameDisplay = document.getElementById("fileNameDisplay");
        //     console.log(fileNameDisplay);
        //     if (input.files.length > 0) {
        //         console.log("after file name displayed");
        //         fileNameDisplay.textContent = "Selected File: " + input.files[0].name;
        //         //document.getElementById("pdfAdhar").innerHTML;
        //         enableButton();

        //     } else {
        //         fileNameDisplay.textContent = "No file selected";

        //     }
        // }

        document.getElementById('fileInput').addEventListener('change', function () {
            const fileInput = this;
            const errorContainer = document.getElementById('fileNameDisplay');

            // Check if a file was selected
            if (fileInput.files.length > 0) {
                const selectedFile = fileInput.files[0];
                const validExtensions = ['.xlsx','.xls'];

                const fileExtension = selectedFile.name.split('.').pop().toLowerCase();
                const isValidExtension = validExtensions.includes('.' + fileExtension);

                if (!isValidExtension) {
                    errorContainer.textContent = 'Please select a valid Excel file (xlsx).';
                    fileInput.value = ''; // Clear the file input
                    enableButton();
                }

                else {

                    if (fileInput.files.length > 0) {
                        console.log("after file name displayed");
                        fileNameDisplay.textContent = "Selected File: " + fileInput.files[0].name;
                        //document.getElementById("pdfAdhar").innerHTML;
                        enableButton();

                    } else {
                        fileNameDisplay.textContent = "No file selected";

                    }

                }
            }
        });


    </script>




}
