@model Repository_Logic.Dto.JoinUserTable_Dto

@{
    ViewData["Title"] = "Register";
}





<style>
    .custom-file-upload {
        cursor: pointer;
        padding: 10px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: forestgreen;
        display: inline-block;
    }

        .custom-file-upload:hover {
            background-color: blue;
        }



    .form2 {
        display: none;
    }


    input[type="number"] {
        -moz-appearance: textfield;
    }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    input[type="number"] {
        -moz-appearance: textfield;
    }



    /* Add this CSS to your stylesheet or within a <style> tag in your HTML */

    /* Custom styling for Toastify */


</style>

<link href="~/css/tooltips.css" rel="stylesheet" />

    @if (TempData["ErrorMessage"] != null)
    {

    <script>
        Swal.fire({
            title: 'Fail To Register account!',
            text: '@TempData["ErrorMessage"]',
            icon: 'error'
        });
    </script>

    }
<div class=" row ml-2 ml-md-auto justify-content-md-end ">
    <a class="back-button" asp-area="" asp-controller="UserDetails" asp-action="UserList">




        <span><i class="fa-solid fa-user"></i>User List</span>
    </a>

</div>
<div class="container-fluid">

    <div class="card o-hidden border-0 shadow-lg my-5" style="border: 4px solid black; border-radius:15px; /* Add this line to set the black border */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    box-sizing: border-box; background-image: url('/Images/RegistorBackGround4.jpg'); background-size: cover; ">
        <div class="MiddleLine"></div>
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="p-5">

                        <h1 class="Nameheader"><b>Update User Details</b></h1>
                        <!----Form Devide Into Two Sections----->
                        <form class="user" asp-action="EditUser" id="registerForm" method="post" enctype="multipart/form-data">
                            <!-------User Profile Picture Upload Section ------->
                            <div class="form-group row">
                                <div class="profile-pic" style="margin:auto;">
                                    <label class="-label" for="file">
                                        <span class="glyphicon glyphicon-camera"></span>
                                        <span>Change Image</span>
                                    </label>
                                    <input id="file" type="file" asp-for="ProfileImageFile" onchange="loadFile(event)" />
                                    <img src="~/Images/kuamr.jpg" id="output" width="200" />
                                </div>
                            </div>
                            <!----- Show Form Section 1 ---------->
                            <div class="form1">



                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">


                                        <div class="input_box">
                                            <div class="lablesForm">First Name:</div>

                                            <input asp-for="FirstName" pattern="[A-Za-z]+" id="exampleFirstName"
                                                   placeholder="Enter First Name" />
                                        </div>

                                        <span asp-validation-for="FirstName" id="FirstNameError" class="text-danger"></span>


                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input_box">
                                            <div class="lablesForm">Middle Name:</div>

                                            <input asp-for="MiddleName" pattern="[A-Za-z]+" id="exampleMiddleName"
                                                   placeholder="Enter Middel Name" />
                                        </div>

                                        <span asp-validation-for="MiddleName" id="MiddleNameError" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-4 mb-6 mb-sm-0">

                                        <div class="input_box">
                                            <div class="lablesForm">Last Name:</div>

                                            <input asp-for="LastName" pattern="[A-Za-z]+" id="exampleLastName"
                                                   placeholder="Enter Last Name" />
                                        </div>

                                        <span asp-validation-for="LastName" id="LastNameError" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-6">
                                        <div class="input_box">
                                            <div class="lablesForm">Phone No:</div>

                                            <input type="number" asp-for="PhoneNumber" id="examplePhoneName"
                                                   placeholder="Enter Phone No" oninput="restrictLengthUpdateProfile(this,10)" />
                                        </div>

                                        <span asp-validation-for="PhoneNumber" id="PhoneNumberError" class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="input_box">
                                            <div class="lablesForm">Email:</div>

                                            <input asp-for="Email" id="emailInput" onkeyup="checkEmail()"
                                                   placeholder="Enter Email Address" />
                                        </div>

                                        <span asp-validation-for="Email" id="EmailError" class="text-danger"></span>
                                        <div style="margin-left:10px;" id="resultMessage"></div>


                                    </div>



                                </div>



                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <div class="input_box">
                                            <div class="lablesForm">City:</div>

                                            <input asp-for="city" id="exampleCityName"
                                                   placeholder=" Enter City" />
                                        </div>

                                        <span asp-validation-for="city" id="CityError" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input_box">
                                            <div class="lablesForm">Country:</div>

                                            <select asp-for="Country" id="exampleCountry" placeholder="Country">
                                                <option value="" selected disabled>Please select Country</option>
                                                <option value="India">India</option>
                                                <option value="Bharat">Bharat</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>

                                        <span asp-validation-for="Country" id="CountryError" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12 ">
                                        <div class="input_box">
                                            <div class="lablesForm">Address:</div>

                                            <input asp-for="Address" id="exampleAddress"
                                                   placeholder="Enter Address" />
                                        </div>

                                        <span asp-validation-for="Address" id="AddressError" class="text-danger"></span>


                                    </div>
                                </div>
                                    @*                                 <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                <div class="input_box">

                                <div class="lablesForm">Password:</div>

                                <input asp-for="Password"
                                id="exampleInputPassword" value="@TempData["Password"]" placeholder="Password" />
                                </div>
                                <span asp-validation-for="Password" id="PasswordError" class="text-danger"></span>


                                </div>
                                <div class="col-sm-6">
                                <div class="input_box">

                                <div class="lablesForm">Confirm Password:</div>

                                <input asp-for="Input.ConfirmPassword"
                                id="exampleRepeatPassword" value="@TempData["ConfirmPassword"]" placeholder="Repeat Password" />
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" id="ConfirmPasswordError" class="text-danger"></span>

                                </div>

                                </div>
                                *@
                                <div style="margin-left:80%;">
                                    <button type="button" id="nextButtonUpdateView" class="custom-btn btn-1">Next</button>

                                </div>
                            </div>


                            <!----- Show Form Section 2 ---------->

                            <div class="form2" id="section2">
                                <div class="form-group row">

                                    <div class="col-sm-6">
                                        <div class="input_box">
                                            <div class="lablesForm">Gst No:</div>
                                            <input asp-for="GSTNo" id="Gstno" onkeyup="checkGstNo()"
                                                   placeholder="Enter GST No" />
                                        </div>

                                        <span asp-validation-for="GSTNo" class="text-danger"></span>
                                        <div id="resultMessage1"></div>
                                    </div>



                                    <div class="col-sm-6 mb-3 mb-sm-0">


                                        <div class="input_box">
                                            <div class="lablesForm">BusinessType:</div>
                                            <select asp-for="BusinessType" id="exampleBusinessType" placeholder="Country">
                                                <option value="" selected disabled>Please select Buiness Type</option>
                                                <option value="Organization">Organization</option>
                                                <option value="Individual">Individual</option>

                                            </select>
                                        </div>


                                        <span asp-validation-for="BusinessType" class="text-danger"></span>

                                    </div>

                                </div>


                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <div class="input_box">
                                            <div class="lablesForm">PAN No:</div>
                                            <input asp-for="PANNo" id="examplePANNo"
                                                   placeholder="Enter Pan Card No" oninput="restrictLengthUpdateProfile(this,10)" />
                                        </div>

                                        <span asp-validation-for="PANNo" class="text-danger"></span>

                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">

                                        <div class="input_box">
                                            <div class="lablesForm">Adhar No:</div>
                                            <input type="number" asp-for="AdharNo" id="exampleAdharNo" oninput="restrictLengthUpdateProfile(this, 12)"
                                                   placeholder="Enter Adhar Card No" />
                                        </div>

                                        <span asp-validation-for="AdharNo" class="text-danger"></span>

                                    </div>

                                </div>

                                <div class="form-group row">

                                    <div class="col-sm-12">
                                        <div class="input_box">
                                            <div class="lablesForm">Web-site:</div>
                                            <input asp-for="website" id="examplewebsite"
                                                   placeholder="Enter Web-Site" />
                                        </div>

                                        <span asp-validation-for="website" class="text-danger"></span>
                                    </div>
                                </div>
                                <p><b>Please select jpg, jpeg & pdf file only.</b></p>
                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-3">
                                            @*<p><b>Please select jpg, jpeg & pdf file only.</b></p>*@

                                        <label for="fileAdharInput" class="custom-file-upload" style="color:white; -webkit-text-stroke-color:black; width:150px;" tooltip="Click On Upload File." flow="up">
                                            <i class="fas fa-cloud-upload-alt"></i>Adhar-Card
                                        </label>
                                        <input type="file" asp-for="AdharFile" id="fileAdharInput" style="display: none;" accept=".pdf, .jpg, .jpeg" />
                                        <div id="fileNameAdharDisplay" class="" style="color:forestgreen; font-size: revert;">
                                            <p style="color:forestgreen">@ViewBag.AdharPdfName </p>
                                            <a href="@Url.Action("ViewAdharCard", "UserDetails", new { AdharPath =@ViewBag.AdharPdfPath })" target="_blank" class="btn " style="font-size:16.5px;background-color:blue;color:white;">View <i class="fa-solid fa-eye"></i></a>

                                        </div>
                                    </div>



                                    <div class="col-sm-2 mb-3 mb-sm-3">
                                    </div>

                                        @* <p><b>Please select jpg, jpeg & pdf file only.</b></p>*@

                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                            @* <p><b>Please select jpg, jpeg & pdf file only.</b></p>*@

                                        <label for="fileInput" class="custom-file-upload" style="color:white; -webkit-text-stroke-color:black; width:150px;" tooltip="Click On Upload File." flow="up">
                                            <i class="fas fa-cloud-upload-alt"></i> Pan-Card
                                        </label>
                                        <input type="file" asp-for="PanFile" id="fileInput" style="display: none;" accept=".pdf, .jpg, .jpeg" />
                                        <div id="fileNameDisplay" style="color:forestgreen; font-size: revert;">
                                            <p style="color:forestgreen">
                                                    @ViewBag.PanPdfName
                                            </p>
                                            <a href="@Url.Action("ViewPanCard", "UserDetails", new {  PanPath=@ViewBag.PanPdfPath})" target="_blank" class="btn " style="font-size:16.5px;background-color:blue;color:white;">View <i class="fa-solid fa-eye"></i></a>

                                        </div>
                                    </div>


                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-3 mb-sm-3" id="Adharoutput">
                                    </div>

                                    <div class="col-sm-5 mb-3 mb-sm-3">
                                    </div>
                                    <div class="col-sm-3 mb-3 mb-sm-3" id="Panoutput1">
                                    </div>


                                </div>

                                <div class="row">
                                    <button type="button" class="custom-btn btn-1" onclick="showPreviousForm()">Back</button>

                                    <div style="margin-left: auto;">
                                        <button id="registerButton" type="submit" class="custom-btn btn-1" tooltip="Click On this Button Register." flow="up">Add User</button>
                                    </div>
                                </div>


                            </div>



                            <input type="hidden" asp-for="UploadAadhar" id="exampleFirstName" />

                            <input type="hidden" asp-for="UploadPAN" id="exampleFirstName" />
                            <input type="hidden" asp-for="Id" id="userId" class="form-control" />



                        </form>
                        <hr>

                        <div class="text-center">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!----Pink Color box in Button ----->
        <div class="MiddleLine"></div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/updateuserprofile/updateprofileuser.js"></script>


    <script type="text/javascript">







        //function displayFileNameAdhar(input) {

        //    const fileNameDisplay = document.getElementById("fileNameAdharDisplay");

        //    if (input.files.length > 0) {
        //        fileNameDisplay.textContent = "Selected File: " + input.files[0].name;
        //        document.getElementById("pdfAdhar").innerHTML

        //    } else {
        //        fileNameDisplay.textContent = "No file selected";
        //    }
        //}

        //function displayFileName(input) {
        //    const fileNameDisplay = document.getElementById("fileNameDisplay");

        //    if (input.files.length > 0) {
        //        fileNameDisplay.textContent = "Selected File: " + input.files[0].name;
        //        document.getElementById("pdfAdhar").innerHTML

        //    } else {
        //        fileNameDisplay.textContent = "No file selected";
        //    }
        //}














    </script>





}





